---
import Layout from '../layouts/index.astro';
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
---

<Layout>
  <Splash />
  <div class="px-8 py-32 space-y-24">
    <Intro />
    <Features />
    <Compatibility />
    <Showcase />
  </div>
</Layout>